@import "../variables";

.button {
  height: 36px;
  box-shadow: 0 1px 2px rgba(9, 16, 43, 0.03);
  border-radius: 4px;
  letter-spacing: -0.17px;
  color: $white;
  font-family: Helvetica Neue, sans-serif;
  font-size: $small-font-size;
  background: $blue-grownu;
  border: 1px solid transparent;
  cursor: pointer;
  outline: transparent;
}

.inverse {
  color: #0087ff;
  background: #fff;
  border: 1px solid $light-blue;
}

.danger {
  color: #fff;
  background: #ed3838;
  border: 1px solid #ed3838;
  font-size: 15px !important;
  font-family: "Helvetica Neue Medium", sans-serif;
  font-weight: 500;
}

.disabled {
  color: #c3d3e3;
  pointer-events: none;
}

.big {
  height: 48px;
  line-height: 18px;
  font-family: "Helvetica Neue Bold", sans-serif;
  //font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  padding: 15px 54px;
}

.normal {
  line-height: 10px;
  font-family: "Helvetica Neue Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 12px 30px;
}

.small {
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 5px 20px;
}

.fullWidth {
  width: 100%;
}
