@import "./../Core/variables";

.link {
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-family: $font-family;
  font-size: 14px;
  position: fixed;
  top: $background-wrapper-padding;
  left: $background-wrapper-padding;
  text-decoration: none;

  svg {
    margin-right: 22px;
  }

  &:hover {
    text-decoration: underline;
  }
}
