.cell {
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #333945;
  display: flex;
  align-items: center;

  svg {
    padding-right: 5px;
    width: 18px;
  }
}

.columnName {
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #808f94;
}

.details {
  min-height: 0;
  overflow: hidden;
  padding-top: 5px;
  //transform-origin: top;
  //transition: transform 0.26s ease;
}

.datailsHidden {
  height: 0;
  //transform: scaleY(0);
}

.detailsShown {
  height: auto;
  overflow: visible;
  //transform: scaleY(1);
}

.checkboxCell {
  width: 50px !important;
  min-width: 50px !important;
  display: inline-flex;
  padding: 0 !important;
}

.settingsCell {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 20px !important;
  min-width: 20px !important;
  padding: 0 !important;
  cursor: pointer;

  svg {
    width: 16.63px !important;
    height: 15.54px !important;
  }
}

.settingsPopup {
  background-color: #fff;
  border: 1px solid #0085ff;
  border-radius: 6px;
  position: absolute;
  top: 30px;
  right: 0;
  width: 275px;
  padding: 5px 10px;
  z-index: 1;
}

.groupContainer {
  padding: 0 10px;
  width: fit-content;
  min-width: 100%;
}

.groupLabel {
  color: #4d7499;
  display: flex;
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  background-color: rgba(49, 156, 255, 0.1);
  border-radius: 6px;
  border: none;
  margin-top: 5px;
  padding: 5px 10px;

  .checkboxCell {
    margin-left: -10px;
  }

  .groupLabelText {
    user-select: none;
  }
}

.sortBlock {
  cursor: pointer;
  display: flex;
  user-select: none;

  svg {
    width: 18px !important;
  }
}

.sortIcon svg {
  width: 1em !important;
}

.flexCenter {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.checkbox {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  &:hover {
    background-color: transparent !important;
  }
}

.pointer {
  cursor: pointer;
}

.collapsIcon {
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: rotate(-90deg);
  width: 8.315px !important;
  height: 10px !important;
  margin-right: 5px;
  padding-right: 0 !important;

  path {
    fill: #0087ff;
  }
}

.collapsIconSelected {
  path {
    fill: #fff;
  }
}

.collapsIconRotated {
  transform: rotate(0deg);
}

.rowWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: 6px;
  cursor: pointer;
}

.rowSelected {
  background-color: #319cff;
}

.flexRowSelected {
  color: #fff !important;
}

.approvedIconSelected {
  g {
    fill: #fff !important;
    stroke: #319cff !important;
  }

  path {
    stroke: #319cff !important;
  }
}

.suspendedIconSelected {
  g {
    fill: #fff !important;
    stroke: #319cff;
  }

  path {
    stroke: #319cff !important;
  }
}

.pendingIconSelected {
  g {
    fill: #319cff !important;
    stroke-width: 0;
  }

  path {
    fill: #fff !important;
  }
}

.tableFooter {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  padding: 0 10px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 40px;
  box-shadow: 0 -4px 20px rgba(62, 69, 82, 0.06);

  > * {
    padding: 0 5px;
  }
}

$table-header: #1976d2;
$table-header-border: #1565c0;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;

div {
  box-sizing: border-box;
}

.tableContent {
  min-height: 250px;
  height: calc(100vh - 235px);
  //overflow: scroll;
}

.tableContainer {
  background-color: #fff;
  display: block;
  //margin: 2em auto;
  width: 100%;
  border: 1px solid rgba(226, 235, 244, 0.85);
  border-radius: 10px;
  padding-top: 10px;
  position: relative;
}

.scrollableContent {
  overflow: scroll;
  width: calc(100% - 40px);
}

.leftPannel {
  border: 1px solid rgba(226, 235, 244, 0.85);
  width: 32px;
  height: 100%;
}

.column {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  padding: 0;

  .flexRow {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 0;
    //border-bottom: solid 1px $table-border;

    //&:hover {
    //  background: #f5f5f5;
    //  transition: 500ms;
    //}
  }
}

.flexTable {
  display: flex;
  flex-flow: row;
  //border-left: solid 1px $table-border;
  transition: 0.5s;
  padding: 0 10px;
  width: fit-content;
  min-width: 100%;

  &.header {
    padding-bottom: 5px;
    //position: relative;
  }

  &:first-of-type {
    //border-top: solid 1px $table-header-border;
    //border-left: solid 1px $table-header-border;
  }

  &:first-of-type .flexRow {
    background: $table-header;
    color: white;
    //border-color: $table-header-border;
  }

  &.row:nth-child(odd) .flexRow {
    background: $row-bg;
  }

  //&:hover {
  //  background: #f5f5f5;
  //  transition: 500ms;
  //}
}

.simpleTableContainer {
  display: block;
  margin: 0;
  width: 100%;
  border: 1px solid #f5f9fb;
  border-radius: 8px;
  padding: 0;
  overflow: hidden;

  .flexTable.header {
    background-color: #edf5fc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 10px;
  }

  .columnName {
    color: #4d7499;
    font-weight: 500;
  }

  .simpleTableContent {
    padding: 5px 10px;
  }

  .row {
    border-bottom: 1px solid rgba(112, 112, 112, 0.14);
    padding: 0;

    &:last-child {
      border-bottom: none;
    }
  }
}

.simpleTableContainerHidden {
  height: 0;
  border: none;
}

.simpleTableContainerShown {
  height: auto;
}

.flagIcon {
  margin-right: 0.1em;
}

.rowspan {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.flexCell {
  width: calc(100% / 3); //1px = border right
  text-align: center;
  padding: 0.5em 0.5em;
  //border-right: solid 1px $table-border;
  //flex: 1 1 33.3%;
  &:last-child {
    // border-right: 0;
  }
}

.pagination {
  margin-left: auto;
}

.paginationLink {
  color: #808f94;
  font-family: Helvetica Neue, sans-serif;
  text-decoration: none;
}

.paginationLinkActive {
  color: #3e4552;
}

.paginationItem {
  display: inline-flex;
  padding: 0 3px;
}
