.screen {
  overflow: hidden;
  display: flex;
  height: calc(100vh - 32px - 71px - 48px);
  gap: 16px;
  position: relative;
  flex-direction: column;

  .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .selectContainer {
    display: flex;
  }

  .content {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(#000, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    overflow: hidden;

    .empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-family: "Helvetica Neue Medium", sans-serif;
      color: #5f6265;
      gap: 8px;

      svg {
        width: 175px;
        height: 168px;
        
      }
    }
  }
}

.policyOption {
  display: flex;
  align-items: center;
  gap: 16px;

  .description {
    display: flex;
    align-items: center;
    justify-content: center;

    .noteIcon {
      width: 12px;
      height: 12px;
    }
  }
}

.tooltip {
  background-color: #fff !important;
  border-radius: 4px !important;
  border: none !important;
  opacity: 1 !important;
  padding: 7px 14px !important;
  color: #333945 !important;
  font-family: "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  box-shadow: 0 2px 8px rgba(#647d93, 0.2) !important;

  &::after {
    border-top-color: #fff !important;
  }

  &::before {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    margin-left: -8px !important;
  }
}

.cellNameWithAvatar {
  display: flex;

  &__image {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 4px;
  }
}