.layout {
  padding-top: 70px;
  .screen {
    background-color: #EDF4FA;
    display: flex;
    flex-direction: column;
    flex: 1;

    .navBar {
      background-color: #fff;
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 153px;
    }

    .content {
      flex: 1;
    }
  }
}