.layout {
  padding-top: 70px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  
  .screen {
    background-color: #EDF4FA;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    height: calc(100vh - 70px);
    overflow: auto;
    padding: 0 20px;
    border-radius: 0;
    padding-bottom: 20px;
    overflow: hidden;

    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    .navBar {
      background-color: #fff;
      padding-left: 153px;
      position: sticky;
      z-index: 1;
      margin-left: -20px;
      margin-right: -20px;
      top: 0;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.02);
    }

    .content {
      flex: 1;
      padding-top: 24px;
    }
  }
}