.container {
  background-color: #edf4fa;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 485px;
  padding: 15px 25px;
  width: 100vw;
}

.appHeader {
  background-color: #fff;
  border: 1px solid rgba(226, 235, 244, 0.85);
  border-radius: 10px;
  box-shadow: 0 3px 16px rgba(226, 233, 237, 0.61);
  display: flex;
  padding: 13px 20px;
  width: fit-content;
}

.delimiter {
  width: 15px;
  height: 15px;
}

.leftContent {
  width: 1110px;
}

.rightSidebar {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 16px rgba(226, 233, 237, 0.61);
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 15px;
  width: 287px;
  min-height: 455px;
  height: calc(100vh - 30px);
}

.emptyWrapper {
  font-family: Helvetica Neue, sans-serif;
  font-size: 18px;
  color: #5f6265;
  width: 200px;

  svg {
    width: 174px !important;
    height: 168px !important;
  }
}
