@import "../variables";

%transition {
  transition: all 0.2s ease-in-out;
}

.button,
%button {
  width: 34px;
  height: 34px;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: transparent;
  white-space: nowrap;
  position: relative;
  margin: 0;
  padding: 0;

  &:disabled {
    cursor: not-allowed;
  }
}

