.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px - 71px - 48px);
  gap: 16px;

  .toolsContainer {
    height: 62px;
    background-color: #fff;
    border-bottom: 1px solid #E2EBF4D9;
    box-shadow: 0px 3px 16px 0px #E2E9ED9B;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 0px 15px;
    grid-gap: 10px;
    gap: 10px;
  }

  .table {
    border: 1px solid #E6EEF6;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .row {
      height: 52px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      .cell {
        font-family: 'Helvetica Neue Medium';
        color: #808F94;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .body {
      overflow: auto;
      flex: 1;
    }
  }
}