@import "../variables";

.dialogBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 360px;
  padding: 25px 30px;
  position: relative;

  .closeButton {
    position: absolute;
    right: 11px;
    top: 12px;
  }
}

.dialogTitle {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-right: 30px;
  margin-left: 30px;
}

.dialogTitleClear {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.buttonSaveBlock {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 100%;
  }
}

.sideForm {
  display: flex;
  justify-content: space-between;
}

.logoSide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #E1EBF5;
  padding: 20px;

  @media (max-width: 768px) {
    display: none;
  }
}

.employeesSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 1px solid #E1EBF5;
  padding: 20px;
  min-width: 230px;
  max-height: 520px;
  overflow: auto;

  .dialogTitleClear {
    margin: 0;
    margin-bottom: 20px;
  }

  .employeeItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 14px;

    .skillName {
      font-size: 14px;
      font-weight: 400;
      color: #808F94;
    }

    .avatarBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #E1EBF5;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.formSide {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 670px;
  min-width: 345px;
  padding: 20px 30px;

  .dialogTitleBlock {
    margin-bottom: 30px;
    margin-right: -10px;

    button {
      padding: 0;
    }
  }

  @media (max-width: 768px) {
    border-left: none;
  }
}

.tooltipBlock {
  margin-left: auto;
}

.dialogTitleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.labelBlock {
  display: flex;
}

.formCheckbox {
  display: flex;
  align-items: center;
  gap: 10px;

  label {
    padding-bottom: 0
  }
}

.required {
  color: $red;
  margin-left: 5px;
}

.buttonsBlock {
  @extend .buttonSaveBlock;

  button {
    margin: 0 10px;
  }
}

.marginLeft {
  margin-left: 30px;
}

.addOrg {
  display: flex;
  justify-content: stretch;
  width: 100%;
  max-width: 670px;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding: 12px 20px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: auto;
      top: 10px;
      bottom: 10px;
      right: -9px;
      background: $light-blue;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__inner2 {
    @extend .addOrg__inner;

    padding: 12px 0 12px 20px;
    justify-content: flex-start;
  }

  .buttonBlock {
    display: flex;
    margin-top: 70px;

    button {
      margin: 0 2px;
    }
  }

  .warningText {
    width: 100%;
    min-height: 105px;
    text-align: center;
    color: $red;

    .buttonWarningBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    }
  }
}

// Create Skill modal
.ratesBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $light-blue2;
  border-bottom: 1px solid $light-blue2;
  padding: 15px 0;
  margin-bottom: 20px;
}

.formControl {
  margin-bottom: 20px;
}

.dateInput {
  label {
    z-index: 1;
    font-size: 15px;
    transform: translate(11px, 12px) scale(1);
    color: #b9b9b9;

    &[data-shrink="true"] {
      display: none;
    }
  }

  input {
    background-color: #fcfdfd;
    border: 1px solid rgba(0, 133, 255, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    color: #333945;
    font-family: Helvetica Neue, sans-serif;
    font-size: 15px;
    padding: 0 11px;
    outline: none;
    margin: 0;
    height: 36px;
  }

  div {
    margin: 0 !important;
    padding: 0;

    &::after,
    &::before {
        display: none;
    }
  }
}

.daleteData {
  margin: 35px 15px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;
  color: $gray;
  font-weight: 500;
}

.successData {
  margin: 25px 15px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5em;
  color: #333945;
  font-weight: 700;
}

.publishData {
  margin: 15px 5px;
  text-align: center;
  font-size: 14px;
  line-height: 1.3em;
  color: $gray;
  font-weight: 500;
  max-width: 550px;
}

.edit {
  .avatarBlock {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    & img {
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &_three {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &_four {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &_margin {
      margin-bottom: 25px;
    }
  }

  .left {
    padding-right: 20px;
  }

  .center {
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
  }

  .right {
    padding-left: 20px;

    &.bordered {
      border-left: 1px solid $light-blue;
    }
  }

  .left,
  .center {
    &.bordered {
      border-right: 1px solid $light-blue;
    }
  }

  .left,
  .right,
  .center {
    height: fit-content;
  }

  .column {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid $light-blue;
    height: auto;

    &:last-child {
      border-right: none;
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  .skill {
    position: relative;
    margin-bottom: 25px;

    & button {
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }

  .select {
    margin-top: unset;
  }

  .buttonBlock {
    display: flex;
    justify-content: flex-end;

    & button {
      margin-left: 20px;
    }
  }
}

.textarea {
  resize: none;
  border: 1px solid rgba(0, 133, 255, 0.1);
  padding: 10px;
  border-radius: 4px;
  width: calc(100% + 4px);
  margin: -10px -13px;
  min-height: 60px;
  background: white;
  color: #333945;
  font-family: Helvetica Neue, sans-serif;
  font-size: 15px;

  &::placeholder {
    color: #b9b9b9;
  }
}

.subtitle {
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;
  color: $gray;
  font-weight: 500;
}

.border {
  height: 1px;
  width: 100%;
  background-color: #cbd1d8;
  display: block;
}

.formRow {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  gap: 10px;
  margin-right: 1px;

  &Last,
  &:last-child {
    margin-bottom: 0;
  }

  > div {
    width: 100%;
  }

  .formControl {
    margin-bottom: 0;
  }
}

.balanceInput {
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    width: 80px;
  }
}

.dialogTooltip {
  background: #000;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
