.container {
  width: 330px;
  height: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: -2px 0px 15.6px 0px #00000040;
  right: 0;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .closeButton {
    position: absolute;
    top: 24px;
    left: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &.active {
    transform: translateX(0);
    
  }

  .header {
    color: #333945;
    font-size: 25px;
    font-family: "Helvetica Neue Medium", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .title {
      
    }

    .jobsCount {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      border: 1px solid #D0D6DB;
      font-size: 24px;
    }
  }

  .addJobButton {
    display: flex;
    position: relative;
    background-color: #fff;

    .addJobModal {
      right: 300px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    height: calc(100vh - 300px);
    padding-bottom: 20px;

    

    .jobTypeContainer {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .jobType {
        height: 32px;
        border: 1px solid #4FA3FC;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 6px;
        font-family: "Helvetica Neue Medium", sans-serif;
        font-size: 12px;
        color: #333945;
        letter-spacing: 0.3px;

      }

      .shiftsContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .shift {
          display: flex;
          gap: 8px;
          font-size: 14px;
          font-family: "Helvetica Neue", sans-serif;

          .shiftIndex {
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .shiftContent {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .shiftHeader {
              display: flex;
              height: 32px;
              gap: 8px;
              align-items: center;
              font-size: 14px;
              font-family: "Helvetica Neue", sans-serif;

              .shiftTime {
                flex: 1;
                border: 1px solid #D0D6DB;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                
              }

              .addSkillButton {
                flex: 1;
                height: 100%;
                border: 1px dashed #c4cad0;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 4px 6px;
                color: #1685FC;
                font-size: 12px;
                cursor: pointer;

                .skillButtonIcon {
                  width: 23px;
                  height: 23px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px dashed #1685FC;
                  
                }
              }
            }

            .shiftSkills {
              display: flex;
              gap: 8px;
              flex-wrap: wrap;

              .skill {
                background-color: #DEF4F0;
                border-radius: 40px;
                padding: 2px 8px 2px 12px;
                font-size: 12px;
                font-family: "Helvetica Neue Medium", sans-serif;
                display: flex;
                align-items: center;
                gap: 6px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  .tooltip {
    background-color: #fff;
    width: 280px;
    pointer-events: auto;
    z-index: 10;
    border-radius: 6px;

    .skillContent {
      display: flex;
      flex-direction: column;
      gap: 12px;
      
      .title {
        color: #000;
        font-family: 'Helvetica Neue Medium', sans-serif;
      }

      .skillsContainer {
        border: 1px solid #d0dfef;
        border-radius: 4px;
        height: 284px !important;

        .scrollbarTrackY {
          background-color: transparent !important;
          border-radius: 10px !important;
          width: 3px !important;
          z-index: 2;
          right: 4px !important;

          div {
            background-color: #d5dde1 !important;
            border-radius: 10px !important;
          }
        }
      }
    }

    // &::after {
    //   border-top-color: #fff !important;
    // }

    // &::before {
    //   border-left: 8px solid transparent !important;
    //   border-right: 8px solid transparent !important;
    //   margin-left: -8px !important;
    // }
  }
}