@import "../variables";

.scrollbarTrackX {
  background-color: transparent !important;
  border-radius: 10px !important;
  height: 7px !important;
  bottom: 7px !important;
  left: 15px !important;
  width: calc(100% - 35px) !important;
  z-index: 1 !important;

  div {
    background-color: #d5dde1 !important;
    border-radius: 10px !important;
  }
}

.scrollbarTrackY {
  background-color: transparent !important;
  border-radius: 10px !important;
  width: 7px !important;
  height: calc(100% - 5px) !important;
  top: 5px !important;
  right: 0 !important;
  z-index: 1;

  div {
    background-color: #d5dde1 !important;
    border-radius: 10px !important;
  }
}
