@import "../variables";

.input-select {
  width: 100%;
  position: relative;

  &__control {
    height: 36px;
    min-height: 36px;
    width: 100%;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 12.077px;
      height: 7.039px;
      top: 15px;
      right: 10px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.077' height='7.039' viewBox='0 0 12.077 7.039'%3E%3Cpath id='Path_1161' data-name='Path 1161' d='M2360.908,1120.023l4.625,4.624,4.624-4.624' transform='translate(-2359.494 -1118.609)' fill='none' stroke='%230085ff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A") right center no-repeat;
      transition: transform 0.4s ease-in-out;
      transform: rotate(0deg);
      z-index: 2;
    }

    & > div {
      width: 100%;
    }
  }

  &__content-box {
    background-color: #fff;
    border: 1px solid $blue-grownu;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
    z-index: 1101;
    max-height: 315px;

    &_top {
      margin-top: 0;
      margin-bottom: 20px;
      bottom: 36px;
    }

    &__item {
      padding: 9px;
      height: 36px;
      cursor: pointer;

      &:hover {
        background-color: rgba($blue-grownu, 0.05);
      }
    }

    &__scrollbar {
      position: static !important;
      width: calc(100% - 20px) !important;
      height: calc(100% - 20px) !important;

      &__track-y {
        background-color: transparent !important;
        border-radius: 10px !important;
        width: 7px !important;
        height: calc(100% - 5px) !important;
        top: 5px !important;
        right: 0 !important;
        z-index: 1;

        div {
          background-color: #d5dde1 !important;
          border-radius: 10px !important;
        }
      }
    }
  }

  &_open {
    & .input-select__control {
      //border: 1px solid $blue-grownu;

      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  &_disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
  }

  &_small {
    & .input-select {
      &__control {
        height: 18px;
        min-height: 18px;

        input {
          height: 18px;
          padding: 0 11px;
        }

        &::before {
          top: 6px;
          right: 10px;
        }
      }

      &__content-box {
        &_top {
          margin-top: 0;
          margin-bottom: 20px;
          bottom: 18px;
        }
      }
    }
  }
}

label + .input-select {
  margin-top: 24px;
}
