.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  &__users {
    display: flex;

    &__avatar {
      object-fit: cover;
    }

    &__count {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #302d4a;
      color: #f9fbfc;
      font-family: 'Helvetica Neue Medium', sans-serif;
      font-size: 10px;
    }

    &__avatar,
    &__count {
      width: 24px;
      height: 24px;
      border-radius: 12px;

      &:not(:first-child) {
        margin-left: -12px;
      }
    }
  }

  &__statistic {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 10px;
    line-height: 12px;
    color: #818f94;

    &__hours {
      font-family: Helvetica Neue, sans-serif;
    }

    &__money {
      font-family: "Helvetica Neue Medium", sans-serif;
    }
  }

  &__emptyIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f4f7;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    position: relative;

    &::after {
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 6px;
      box-sizing: border-box;
      border: 1px dashed #b9bec3;
    }
  }

  &__noWorkers {
    font-family: Helvetica Neue, sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #818f94;
    //margin-left: 7px;
  }
}
