@import "../../Core/variables";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray;
  font-family: $font-family;
}

.card {
  display: flex;
  min-height: 400px;
  max-width: 536px;
  width: 100%;
  //min-width: 536px;
  flex-direction: column;
  padding: 50px 115px;
  align-items: center;
}

.description {
  margin-top: -14px;
  margin-bottom: 10px;
  text-align: center;

  p {
    font-size: $normal-font-size;
  }
}

.black {
  color: black;
}

.buttonBlock {
  margin-top: 11px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;

  button {
    font-family: Helvetica Neue, sans-serif;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.errorBlock {
  margin-top: 3px;
  height: 20px;
  color: $red;
  text-align: right;

  p {
    margin: 0;
    font-size: 12px;
  }
}

.sentTitle {
  color: $gray;
}

.error {
  color: $red;
  margin-top: 15px;
  font-size: $small-font-size;
}

.formItem {
  margin-top: 10px;
}
