.resourcesCell {
  display: flex;
  height: 41px;
  min-height: 41px;
  padding: 0 15px;
  align-items: center;
  position: relative;
  $resourcesCell: &;

  & > *:last-child {
    z-index: 1;
  }

  &__empty {
    > div:last-child {
      border: 1.9px dashed #d0d6db;
      color: #d0d6db;
    }
  }

  &__padding {
    display: flex;

    &__item {
      width: 8px;
      position: relative;
      height: 1px;

      &:last-child {
        background-color: #d0d6db;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 41px;
        width: 1px;
        background-color: #d0d6db;
      }
    }
  }

  &_lastChild1 {
    #{$resourcesCell}__padding__item:first-child {
      background-color: transparent;

      &::before {
        background-color: transparent;
      }
    }
  }

  &_lastChild2 {
    #{$resourcesCell}__padding__item:nth-child(2) {
      background-color: transparent;

      &::before {
        background-color: transparent;
      }
    }
  }
}
