.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.categoryBlock {
}

.labelBLock {
  display: grid;
  grid-template-columns: auto 20px 1fr;
  grid-column-gap: 25px;
  line-height: 1;
}

.right {
  text-align: right;
  padding-bottom: 9px;
}
