@import "../../Core/_variables.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family;
}

.card {
  width: 600px;
  min-height: 400px;
  padding: 30px 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

p {
  margin: 10px auto;
  font-size: $small-font-size;
}

.title {
  color: $gray;
}

.buttonBlock {
  margin-top: 50px;
  text-align: center;
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}
