@import './../Core/variables';

$border-radius: 12px;

.root {
  background-color: #fff;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.16);
  border: 1px solid rgba(226, 235, 244, 0.85);
  border-radius: $border-radius;
  padding: $border-radius;
}
