.tableContainer {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #E6EEF6;
  border-radius: 12px;
  overflow: hidden;

  .toolbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 100%;
    min-height: 312px;
    box-shadow: 0 3px 16px rgba(226, 233, 237, 0.61);
    background-color: #fff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 2;

    .settingsButton {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 8px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .table {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: auto;
    border-radius: 12px;

    .content {
      width: max-content;
      min-width: 100%;
    }

    .section {
      // padding: 0 16px;
      padding: 0px 32px 0px 16px;

      .sectionHeader {
        height: 34px;
        border-radius: 6px;
        background-color: rgba(49, 156, 255, 0.1);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 0 16px;
        font-family: 'Helvetica Neue Medium';
        font-size: 14px;
        font-weight: 500;
        color: #4d7499;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        &.pending {
          background-color: rgba(250, 172, 46, 0.1);
          color: rgb(245, 159, 19);

          .icon {
            path {
              fill: rgb(245, 159, 19);
            }
          }
        }

        .icon {
          width: 9px;
          height: 9px;
          transform: rotate(-90deg);
          transition: transform 0.2s ease;

          path {
            fill: #0085ff;
          }
        }
      }

      &.active {
        .sectionHeader {
          border-radius: 6px 6px 0 0;

          .icon {
            transform: rotate(0deg);
          }
        }
      }
    }

    .row {
      height: 48px;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(150px, 1fr);
      

      &:nth-child(even) {
        background-color: #f9fbfc;
      }

      &.header {
        border-bottom: 1px solid #ddd;
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 2;
        padding: 0px 32px 0px 16px;
      }

      .cell {
        font-family: 'Helvetica Neue Medium';
        color: #808F94;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;

        &.status {
          gap: 4px;

          .statusButton {
            display: flex;
            align-items: center;
            justify-content: center;
            filter: grayscale(1);
            cursor: pointer;

            svg {
              width: 18px;
              height: 18px;
            }

            &.active {
              filter: none;
            }
          }
        }

        &.center {
          justify-content: center;
        }

        &.policy {
          gap: 8px;

          .note {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            padding-top: 2px;

            .noteIcon {
              width: 12px;
              height: 12px;
            }
          }
        }

        &.actions {
          gap: 4px;

          .icon {
            width: 24px;
            height: 24px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #4080fc;
            border-radius: 4px;

            &.approve {
              background-color: #E1F5F0;
              color: #068968;

              svg {
                path {
                  fill: #068968;
                }
              }
            }

            &.reject {
              background-color: #F5E1E1;
              color: #890606;

              svg {
                path {
                  fill: #890606;
                }
              }
            }

            svg {
              width: 16px;
              height: 16px;

              path {
                fill: #fff;
              }
            }
          }
        }

        .status {
          height: 24px;
          border-radius: 20px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 4px 12px;

          &.approved {
            background: #E1F5F0;
          }

          &.pending {
            background: #E2EFFF;
          }

          &.rejected {
            background: #F5E1E1;
          }

          &.cancelled {
            background: #808F94;
          }
        }
      }
    }

    .body {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-top: 8px;
    }
  }

  .tooltip {
    background-color: #fff;
    width: 200px;
    overflow-y: auto;
    max-height: 250px;
    pointer-events: auto;
    z-index: 10;
    border-radius: 6px;

    .tooltipContent {
      color: #333945;
      font-family: Helvetica Neue, sans-serif;
      height: 100%;
      
      .tooltipRow {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: "Helvetica Neue", sans-serif;
        
      }
    }

    &::after {
      border-top-color: #fff !important;
    }

    &::before {
      border-left: 8px solid transparent !important;
      border-right: 8px solid transparent !important;
      margin-left: -8px !important;
    }
  }
}