.container {
  position: fixed;
  right: 0;
  top: 71px;
  background-color: #fff;
  width: 330px;
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #D0DFEF;
  height: 100%;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
  padding: 20px 20px;

  &.active {
    transform: translateX(0%);
  }

  .title {
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 25px;
    text-align: center;
  }

  .onLeaveContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Helvetica Neue Medium", sans-serif;

    .onLeave {
      font-family: "Helvetica Neue Bold", sans-serif;
      font-size: 24px;
    }

    .description {
      font-size: 14px;
      color: #9c9da0;
    }
  }

  .closeButton {
    position: absolute;
    left: 17px;
    top: 68px;
    cursor: pointer;
  }

  .policiesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .card {
      height: 86px;
      border-radius: 12px;
      padding: 10px;
      display: flex;
      flex-direction: column;

      .cardHeader {
        display: flex;
        gap: 4px;
        align-items: center;

        .policyIcon {
          fill: none !important;
        }
      }

      .avatarContainer {
        display: flex;
        margin-left: auto;

        .avatar {
          width: 44px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          img {
            border-radius: 50%;
          }

          &:not(:first-child) {
            margin-left: -12px;
          }
        }

        .blur {
          width: 44px;
          height: 44px;
          border-radius: 50%;
          background: rgba(51, 57, 69, 0.16);
          backdrop-filter: blur(12px);
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Helvetica Neue Medium", sans-serif;
          font-size: 14px;
          margin-left: -12px;
          position: relative;
          color: rgba(51, 57, 69, 1);
          border: 1px solid #fff;
        }
      }

      .title {
        font-family: "Helvetica Neue Medium", sans-serif;
        font-size: 14px;
        text-align: left;
      }
    }
  }
}