.container {
  position: fixed;
  right: 0;
  top: 71px;
  bottom: 0;
  background-color: #fff;
  width: 330px;
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #D0DFEF;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;

  .scrollable {
    flex: 1;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.active {
    transform: translateX(0%);
  }

  .titleContainer {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(255, 255, 255, 1);

    .title {
      font-family: "Helvetica Neue Medium", sans-serif;
      font-size: 25px;
      text-align: center;
    }
  }

  .onLeaveContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Helvetica Neue Medium", sans-serif;

    .onLeave {
      font-family: "Helvetica Neue Bold", sans-serif;
      font-size: 24px;
    }

    .description {
      font-size: 14px;
      color: #9c9da0;
    }
  }

  .closeButton {
    position: absolute;
    left: 17px;
    top: 68px;
    cursor: pointer;
  }

  .policiesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .card {
      gap: 8px;
      border-radius: 12px;
      padding: 10px;
      display: flex;
      flex-direction: column;

      .cardHeader {
        display: flex;
        gap: 4px;
        align-items: center;
        cursor: pointer;

        .expandButton {
          margin-left: auto;
          padding-right: 6px;

          svg {
            transition: transform 0.15s ease-in-out;
          }
        }

        .policyIcon {
          fill: none !important;
        }
      }

      .avatarContainer {
        display: flex;
        margin-left: auto;

        .avatar {
          width: 44px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          img {
            border-radius: 50%;
          }

          &:not(:first-child) {
            margin-left: -12px;
          }
        }

        .blur {
          width: 44px;
          height: 44px;
          border-radius: 50%;
          background: rgba(51, 57, 69, 0.16);
          backdrop-filter: blur(12px);
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Helvetica Neue Medium", sans-serif;
          font-size: 14px;
          margin-left: -12px;
          position: relative;
          color: rgba(51, 57, 69, 1);
          border: 1px solid #fff;
        }
      }

      .cardContent {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.15s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .employeeRow {
          height: 81px;
          display: flex;
          flex-direction: column;
          gap: 4px;

          .employeeRowHeader {
            display: flex;
            align-items: center;
            gap: 8px;

            .employeeName {
              font-family: "Helvetica Neue Medium", sans-serif;
              font-weight: 500;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 0.02em;
              color: #333945;
              margin-bottom: 4px;
            }

            .employeeRole {
              font-family: "Helvetica Neue Regular", sans-serif;
              font-weight: 400;
              font-size: 12px;
              line-height: 100%;
              letter-spacing: 0.02em;
              color: #A5A8B1;
            }
          }

          .employeesDatesContainer {
            display: flex;
            align-items: center;
            gap: 8px;

            .employeeDate {
              font-family: "Helvetica Neue Medium", sans-serif;
              font-weight: 500;
              line-height: 100%;
              letter-spacing: 0.02em;
              color: #333945;
              background-color: #fff;
              border-radius: 4px;
              padding: 6px 8px;
              font-size: 10px;
            }
          }
        }

        &.expanded {
          max-height: 500px; /* Arbitrary large value to allow expansion */
        }
      }

      .title {
        font-family: "Helvetica Neue Medium", sans-serif;
        font-size: 14px;
        text-align: left;
      }
    }
  }
}

.pieTooltip {
  background-color: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  // font-family: "Helvetica Neue Medium", sans-serif;
  // font-size: 14px;
  position: relative;
  z-index: 10;
}