@import "../Core/variables";

.root {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family;
}

.wrapper {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h3,
  p {
    margin: 0;
  }

  p {
    font-size: $small-font-size;
  }

  h3 {
    font-size: 72px;
    margin-bottom: 35px;
  }

  h3 + p {
    font-size: 21px;
    margin-bottom: 14px;
  }

  button {
    margin-top: 50px;
  }
}

.refresh {
  display: inline-flex;
  align-items: center;
}

.icon {
  height: 16px;
  width: 16px;
}
