.eventContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .policyIcon {
    width: 20px;
  }

  .attentionIcon {
    position: absolute;
    transform: translateX(50%);

    &.absolute {
      right: unset !important;
      transform: translateX(0);
    }
  }
}