.resourceItem {
  &__buttonDots {
    position: absolute;
    right: 2px;
  }

  &__empty {
    position: static !important;
    width: auto !important;
    height: auto !important;
  }

  &__title {
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 14px;
    color: black;
    padding-bottom: 12px;
    width: 168px;
  }

  &__space {
    margin-top: -7px;
  }

  &__template {
    width: 24px;
    height: 24px;
    background: rgba(64, 195, 226, .06274509803921569);
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    color: #40c3e2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
  }

  &__avatar_trigger {
    position: static !important;
    width: auto !important;
    height: auto !important;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 3px;
    z-index: 2;
  }

  &__demand {
    position: static !important;
    width: auto !important;
    height: auto !important;
    border: 1px solid #d0d6db;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: 10px;

    &_red {
      color: #AC6363;
    }

    &_gray {
      color: #7F7F7F;
    }

    &_green {
      color: #05985F;
    }

    &_orange {
      color: #FD9D27;
    }
  }
}
