.container {
  .selected {
    background-color: #fff;
    border: 1px solid #d0dfef;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
    position: relative;
    width: 100%;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
    color: #333945;
    min-width: 250px;

    &::before {
      content: "";
      position: absolute;
      width: 12.077px;
      height: 7.039px;
      top: 15px;
      right: 10px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.077' height='7.039' viewBox='0 0 12.077 7.039'%3E%3Cpath id='Path_1161' data-name='Path 1161' d='M2360.908,1120.023l4.625,4.624,4.624-4.624' transform='translate(-2359.494 -1118.609)' fill='none' stroke='%230085ff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A") right center no-repeat;
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transform: rotate(-90deg);
    }
  }
}

.sections {
  width: 300px;
  background-color: #fff;
  border: 1px solid #0085ff;
  border-radius: 4px;
  margin-top: 10px;
  padding: 8px 0px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

  .section {
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 15px;
    color: #808F94;

    .sectionTitle {
      height: 36px;
      display: flex;
      align-items: center;
      padding-left: 10px;
    }

    .items {
      .item {
        height: 36px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: 30px;
        color: #333945;
        font-family: "Helvetica Neue", sans-serif;

        &:hover {
          background-color: #f5faff;
        }
      }
    }
  }
}

