@import "../../variables";

$padding-size: 25px;

.formItem {
  margin-bottom: $padding-size;

  & label + div {
    margin-top: unset;
    width: 100%;
  }

  &:last-child {
    margin-bottom: unset;
  }
}

small.error {
  color: $red-600;
}
