.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;

  .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .sectionHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .sectionTitle {
      color: #000;
      font-size: 24px;
      font-family: 'Helvetica Neue Medium';
      font-weight: 500;

      .secondary {
        color: #808F94;
      }
    }

    .upcomingRequests {
      display: flex;
      flex-direction: column;
      border: 1px solid #E6EEF6;
      border-radius: 12px;
      background-color: #fff;
    }

    .upcomingRequestsHeader,
    .upcomingRequestsRow {
      display: grid;
      grid-template-columns: 4fr 2fr 4fr 3fr 2fr 100px;
      padding: 8px 12px;
      align-items: center;
    }

    .upcomingRequestsHeader {
      font-family: 'Helvetica Neue Medium';
      color: #808F94;
      border-bottom: 1px solid #E6EEF6;
      font-size: 14px;
      font-weight: 500;
    }

    .upcomingRequestsRow {
      border-bottom: 1px solid #E6EEF6;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #fafafa;
      }
    }

    .upcomingRequestsCol,
    .upcomingRequestsHeaderCol {
      padding: 6px 24px;
      overflow-wrap: anywhere;
      font-size: 14px;
      font-weight: 500;

      .tableName {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .tableSymbol {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        padding: 2px;

        svg {
          margin: 0;
          padding: 0;
          width: 18px;
          height: 18px;

          path {
            stroke: white;
            fill: transparent;
          }
        }
      }
    }

    .upcomingRequestsStatus {
      height: 24px;
      border-radius: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 4px 12px;

      &.requestStatusApproved {
        background: #E1F5F0;
      }

      &.requestStatusPending {
        background: #E2EFFF;
      }

      &.requestStatusRejected {
        background: #F5E1E1;
      }

      &.requestStatusCancelled {
        background: #808F94;
      }
    }

    .upcomingRequestsButtons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;

      button {
        min-width: 24px !important;
        min-height: 24px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          opacity: 0.7;
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }

      .buttonEdit {
        svg {
          path {
            fill: #fff;
          }
        }
      }

      .buttonApprove {
        background: #E1F5F0;
        color: #068968;
      }

      .buttonReject {
        background: #F5E1E1;
        color: #890606;
      }
    }

    .policiesTable {
      display: flex;
      flex-direction: column;
      border: 1px solid #E6EEF6;
      border-radius: 12px;
      background-color: #fff;
      overflow: hidden;
    }

    .policiesTableHeader,
    .policiesTableRow {
      display: grid;
      grid-template-columns: 24px 2fr 2fr 1fr 1fr 1fr 1fr;
      padding: 8px 12px;
      align-items: center;

      &.pointer {
        cursor: pointer;
      }
    }

    .policiesTableHeader {
      font-weight: bold;
      color: #808F94;
      border-bottom: 1px solid #E6EEF6;
      font-size: 14px;
      font-weight: 500;
    }

    .policiesTableRow {
      border-bottom: 1px solid #E6EEF6;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #fafafa;
      }
    }

    .policiesTableCol,
    .policiesTableHeaderCol {
      padding: 6px 12px;
      overflow-wrap: anywhere;
      font-size: 14px;
      font-weight: 500;

      .tableName {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .tableSymbol {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        padding: 2px;

        svg {
          margin: 0;
          padding: 0;
          width: 18px;
          height: 18px;

          path {
            stroke: white;
            fill: transparent;
          }
        }
      }

      &.policiesTableColExpand {
        padding: 6px 0;
      }

      &.policiesTableColGray {
        color: #808F94;
      }

      &.right {
        text-align: right;
      }
    }

    .tooltip_back {
      opacity: 1 !important;
      z-index: 10000;
    }

    .tooltip_emp {
      opacity: 1 !important;
    }

    .tooltip {
      opacity: 1 !important;
    }

    .nowrap {
      white-space: nowrap;
    }

    .policiesTableExpand {
      border: none;
      background: transparent;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      svg {
        width: 28px;
        height: 28px;

        rect {
          display: none;
        }

        path {
          stroke: #69767A;
        }
      }

      &.active {
        transform: rotate(90deg);
      }
    }

    .expandedRow {
      &:not(:last-child) {
        border-bottom: 1px solid #E6EEF6;
      }
      padding: 16px 24px;
    }

    .expandedContent {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .expandedInfo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      strong {
        color: #808F94;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 5px;
        display: block;
      }

      div {
        font-weight: 500;
        font-size: 14px;
        color: #303030;
        margin-bottom: 10px;
      }
    }

    .actionsRow {
      margin-top: 12px;
      display: flex;

      div {
        flex: 1;
      }
      
      &Buttons {
        margin-top: 12px;
        padding-top: 12px;
        display: flex;
        gap: 8px;
        justify-content: flex-end;
        border-top: 1px solid #E6EEF6;
      }
    }

    .cycleTitle {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;

      &Dates {
        font-weight: 500;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          color: #808F94;
        }
      }

      &Info {
        font-weight: 500;
        font-size: 16px;
        color: #808F94;
      }

      svg {
        width: 28px;
        height: 28px;
        cursor: pointer;

        path {
          stroke: #0085FF;
        }
      }
    }
  }

  .employeeBlock {
    border: 1px solid #E6EEF6;
    border-radius: 12px;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    gap: 24px;

    .avatarBlock {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .employeeName {
      font-size: 24px;
      font-weight: 400;
    }

    .skillName {
      font-size: 20px;
      font-weight: 400;
      color: #A0ABAF;
    }
      
    .buttonBlock {
      margin-left: auto;
    }
  }

  .tooltip {
    background-color: #fff !important;
    border-radius: 4px !important;
    border: none !important;
    opacity: 1 !important;
    padding: 7px 14px !important;
    color: #333945 !important;
    font-family: Helvetica Neue, sans-serif !important;
    font-size: 12px !important;
    box-shadow: 0 2px 8px rgba(#647d93, 0.2) !important;

    &::after {
      border-top-color: #fff !important;
    }

    &::before {
      border-left: 8px solid transparent !important;
      border-right: 8px solid transparent !important;
      margin-left: -8px !important;
    }
  }

  .note {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    padding-top: 2px;

    .noteIcon {
      width: 12px;
      height: 12px;
    }
  }
}