.container {
  width: 54px;
  height: 30px;
  border-radius: 30px;
  padding: 4px;
  background-color: #808F94;
  cursor: pointer;

  &.checked {
    background-color: #0085ff;

    .badge {
      transform: translateX(100%);
    }
  }

  .badge {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #EFF6FF;
    transition: transform 0.2s ease-in-out;
    
  }
}