.inputWrapper {
  position: relative;
  width: fit-content;
}

.iconWrapper {
  display: flex;
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  left: 5px;

  svg {
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
  }
}

.input {
  border: 1px solid #d0dfef;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333945;
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  padding: 10px;
  outline: none;

  &::-webkit-input-placeholder { /* Edge */
    color: #cbd1d8;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cbd1d8;
  }

  &::placeholder {
    color: #cbd1d8;
  }
}

.withIcon {
  padding: 10px 10px 10px 30px;
}
