.inputWrapper {
  position: relative;
  width: fit-content;
  min-width: 100px;
}

.input {
  border: 1px solid #d0dfef;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333945;
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  padding: 8px;
  outline: none;

  &::-webkit-input-placeholder { /* Edge */
    color: #cbd1d8;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cbd1d8;
  }

  &::placeholder {
    color: #cbd1d8;
  }
}

.inputWrapperFullWidth {
  width: 100%;

  .input {
    width: 100% !important;
  }
}

.iconWrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 33px;
  height: 100%;
  top: 0;
  left: 0;

  svg {
    width: 13.89px;
    height: 13.89px;
    display: flex;
    align-self: center;
  }
}

.withIcon {
  padding: 8px 8px 8px 30px;
}
