@import "../../Core/variables";

$border-style: 1px solid #d0dfef;
$icon-width: 33px;

@mixin placeholder($color: 'white') {
  &::-webkit-input-placeholder {
    /* Edge */
    color: $color;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
  }

  &::placeholder {
    color: $color;
  }
}

.inputWrapper {
  position: relative;
  width: fit-content;
  min-width: 70px;
}

.input,
%input {
  border: $border-style;
  border-radius: 4px;
  box-sizing: border-box;
  color: $input-text-color;
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  padding: 11px;
  outline: none;

  @include placeholder(#cbd1d8);
}

.inputWrapperFullWidth {
  width: 100%;

  .input {
    width: 100% !important;
    background-color: $input-background-color;
  }

  .light {
    background-color: unset;
  }
}

.iconWrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  width: $icon-width;
  height: 100%;
  top: 0;
  left: 0;

  svg {
    width: 14px;
    height: 14px;
    display: flex;
    align-self: center;
  }
}

.withIcon {
  padding: 11px 11px 11px 30px;
}

.iconLeft {
  .iconWrapper {
    left: -13px - $icon-width;
  }

  .withIcon {
    padding: 11px;
  }
}

.underlined {
  border: unset;
  border-bottom: $border-style;
  border-radius: unset;

  @include placeholder();
}

.error {
  border-color: $red;
  color: red;
}
