@import "../../variables";

$bottom-padding: 6px;
$top-padding-gap: 10px;

.menu {
  position: absolute;
  right: 25px;
  color: $gray;
  top: 65px;
  border: 1px solid $light-blue;
  min-width: 200px;
  max-width: 250px;
  border-radius: 13px;
  z-index: 9999;

  .top {
    padding: $top-padding-gap;
    border-bottom: 1px solid $light-blue;
  }

  .bottom {
    padding: $bottom-padding;
  }

  &_item {
    padding-left: $top-padding-gap !important; // reassignment of MiUi root
    padding-right: $top-padding-gap !important; // reassignment of MiUi root
    width: 100% !important; // reassignment of MiUi root
    margin-top: $top-padding-gap !important; // reassignment of MiUi root
    margin-bottom: $top-padding-gap !important; // reassignment of MiUi root
    font-size: 14px !important; // reassignment of MiUi root
    color: $gray !important; // reassignment of MiUi root
    border: 1px solid white;

    svg:first-child {
      margin-right: 20px;
    }

    .active {
      border: 1px solid $light-blue;
      border-radius: 5px;
      position: relative;
    }

    svg.status {
      position: absolute;
      right: 0;
      margin-right: 0;
    }

    &:hover {
      border-radius: 5px;
      background-color: $light-blue !important;
    }
  }

  .icon {
    position: absolute;
    left: $top-padding-gap * 2;
    bottom: $bottom-padding + 21px;
    transform: translateY(50%);
  }

  ul {
    padding: 0;
  }
}

.language {
  position: relative;
  margin-bottom: 0 !important; // reassignment of MiUi root
  padding-bottom: 0 !important; // reassignment of MiUi root
  overflow: visible !important; // reassignment of MiUi root

  &_item {
    padding: 0 !important;

    .btn {
      padding: $top-padding-gap;
      background-color: unset;
      width: 100%;
      display: flex;
      text-align: left;
      align-items: center;
      color: $gray;
      border: unset;

      &:focus:not(:focus-visible) {
        outline: none;
      }
    }
  }

  &:hover {
    background-color: white !important; // reassignment of MiUi root
  }

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    background: $light-blue;
    display: block;
    left: -20px;
    top: 36px;
  }
}

.expandIconPosition {
  position: absolute;
}

.expandIcon {
  color: $blue-grownu;
  fill: $blue-grownu;
  padding: 0 !important; // reassignment of MiUi root
  margin: 0 !important; // reassignment of MiUi root
}

.expandIconExpanded {
  padding: 0 !important; // reassignment of MiUi root
  margin: 0 !important; // reassignment of MiUi root
  border: 0 !important; // reassignment of MiUi root
}
