@import "../../Core/variables";

$card-border-color: #cbd1d8;
$card-padding: 12px;
$details-padding: 14px 8px 8px;
$edit-border: 1px solid $blue-border;
$arrow-size: 21px;

.card {
  height: 92px;
  position: relative;
  color: $gray;
  border: 1px solid $card-border-color;
  border-radius: $card-padding;
  padding: $card-padding;
  line-height: 1;
  cursor: pointer;
  font-family: inherit;
  outline: none;

  @include focusVisible();

  &.tall {
    height: 107px;
  }

  &_title {
    font-weight: bold;
    padding: 0 calc(1em + 5px) 0 0;
    margin: 0 0 4px 0;
    font-size: 16px;
    word-break: break-word;
  }

  & small {
    font-size: $small-font-size;
    color: inherit;
  }

  &.default {
    & .card_title {
      color: $blue-2;
    }

    border-color: transparent;
    background-color: $light-blue2;
  }

  &_icon {
    position: absolute;
    top: $card-padding;
    right: $card-padding;
    background-color: unset;
    border: unset;
    padding: unset;
    cursor: pointer;
    transition: opacity 0.2s;

    & svg {
      font-size: $normal-font-size;
    }

    &:hover {
      opacity: 0.7;
    }

    @include focusVisible();
  }
}
