.screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  position: relative;
  
  .overlayProgress {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .timeOffTooltip {
    background-color: #fff;
    color: #333945;
    border-radius: 4px !important;
    border: none !important;
    opacity: 1 !important;
    padding: 7px 14px !important;
    font-family: Helvetica Neue, sans-serif !important;
    font-size: 12px !important;
    box-shadow: 0 2px 8px rgba(#647d93, 0.2) !important;
    z-index: 1000;
  }

  .event {
    border-radius: 4px;
    height: 32px;
    margin-top: 4px;
    margin-left: 4px;
    width: calc(100% - 7px);

    .eventContent {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .policyIcon {
        width: 20px;
      }
    }
  }

  .availabilityEvent {
    padding-left: 4px;
    padding-right: 4px;
  }

  .toolsContainer {
    height: 62px;
    background-color: #fff;
    border-bottom: 1px solid #E2EBF4D9;
    box-shadow: 0px 3px 16px 0px #E2E9ED9B;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 0px 15px;
    gap: 10px;
  }

  .resourceLabelContent {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    width: 100%;

    .resourcePhoto {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
    }

    .avatarTrigger {
      // position: static !important;
      // width: auto !important;
      // height: auto !important;
      // min-width: 20px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // padding: 2px;
      // border-radius: 3px;
      // z-index: 999;
    }
  }
}

