.screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  position: relative;

  .event {
    border-radius: 4px;
    height: 32px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 10px);

    .eventContent {
      
    }
  }

  .toolsContainer {
    height: 62px;
    background-color: #fff;
    border-bottom: 1px solid #E2EBF4D9;
    box-shadow: 0px 3px 16px 0px #E2E9ED9B;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 0px 15px;
    gap: 10px;
  }

  .resourceLabelContent {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    width: 100%;

    .resourcePhoto {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
    }

    .avatarTrigger {
      // position: static !important;
      // width: auto !important;
      // height: auto !important;
      // min-width: 20px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // padding: 2px;
      // border-radius: 3px;
      // z-index: 999;
    }
  }
}

