.container {
  background-color: #fff;
  padding: 22px 125px 18px 49px;
  width: 832px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;

    .icon {
      width: 32px;
    }

    .content {
      flex: 1;
      gap: 12px;
      display: flex;
      flex-direction: column;

      .label {
        font-family: "Helvetica Neue Bold", sans-serif;
        font-size: 14px;
        color: #808F94;
        flex: 1;
      }

      .title {
        font-family: "Helvetica Neue Medium", sans-serif;
        font-size: 24px;
        color: #4080FC;
        margin-bottom: 8px;
      }

      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        .input {
          width: 34px;
          height: 28px;
          border: 1px solid #CDDAE8;
          border-radius: 2px;
          padding: 6px 6px 4px 6px;
          box-sizing: border-box;
          text-align: center;
        }
      }

      .divider {
        height: 1px;
        background-color: #CBD1D8;
        width: 80%;
      }
    }
  }
}